{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .card-img-top {
  /* Propriétés CSS pour la taille de l'image */
  width: 200px;
  height: 200px;
  /* Propriétés CSS pour le style de l'image */
    }
</style>
<table > 
<td > 
 <div class="card" style="width: 18rem;">
  <img src={{asset('image/b2.png')}}  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">life is best when you're camping </h5>
    <p class="card-text">Go where you deel most alive </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> pack Camp  </li>
    <li class="list-group-item">30$ </li>
  </ul>
  <div class="card-body">
    <a href="/commande/new" class="card-link">buy </a> 
  </div>
</div> 
</td> 
<td > 
 <div class="card" style="width: 18rem;">
  <img src={{asset('image/boutique2.jpg')}}  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">life is best when you're camping </h5>
    <p class="card-text">Go where you deel most alive </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> pack Camp  </li>
    <li class="list-group-item">30$ </li>
  </ul>
   <div class="card-body">
    <a href="/commande/new" class="card-link">buy </a> 
  </div>
</div> 
</td> 
<td > 
 <div class="card" style="width: 18rem;">
  <img src={{asset('image/boutique3.jpg')}}  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">life is best when you're camping </h5>
    <p class="card-text">Go where you deel most alive </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> pack Camp  </li>
    <li class="list-group-item">70$ </li>
  </ul>
   <div class="card-body">
    <a href="/commande/new" class="card-link">buy </a> 
  </div>
</div> 
</td> 
<td > 
<div class="card" style="width: 18rem;">
  <img src={{asset('image/boutique5.jpg')}}  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">life is best when you're camping </h5>
    <p class="card-text">Go where you deel most alive </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> pack Camp  </li>
    <li class="list-group-item">120$ </li>
  </ul>
   <div class="card-body">
    <a href="/commande/new" class="card-link">buy </a> 
  </div>
</div> 
</td> 
</table> <br> <br> <br> 
<table > 
<td > 
 <div class="card" style="width: 18rem;">
  <img src={{asset('image/boutique5.jpg')}}  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">life is best when you're camping </h5>
    <p class="card-text">Go where you deel most alive </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> pack Camp  </li>
    <li class="list-group-item">78$ </li>
  </ul>
   <div class="card-body">
    <a href="/commande/new" class="card-link">buy </a> 
  </div>
</div> 
</td> 
<td > 
 <div class="card" style="width: 18rem;">
  <img src={{asset('image/boutique6.jpg')}}  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">life is best when you're camping </h5>
    <p class="card-text">Go where you deel most alive </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> pack Camp  </li>
    <li class="list-group-item">30$ </li>
  </ul>
     <div class="card-body">
    <a href="/commande/new" class="card-link">buy </a> 
  </div>
</div> 
</td> 
<td > 
 <div class="card" style="width: 18rem;">
  <img src={{asset('image/boutique7.jpg')}}  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">life is best when you're camping </h5>
    <p class="card-text">Go where you deel most alive </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> pack Camp  </li>
    <li class="list-group-item">55$ </li>
  </ul>
   <div class="card-body">
    <a href="/commande/new" class="card-link">buy </a> 
  </div>
</div> 
</td> 
<td > 
<div class="card" style="width: 18rem;">
  <img src={{asset('image/boutique8.jpg')}}  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">life is best when you're camping </h5>
    <p class="card-text">Go where you deel most alive </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> pack Camp  </li>
    <li class="list-group-item">99$ </li>
  </ul>
   <div class="card-body">
    <a href="/commande/new" class="card-link">buy </a> 
  </div>
</div> 
</td> 
</table>  
<br> <br> 
<hr> 
<table > 
<td > 
 <div class="card" style="width: 18rem;">
  <img src={{asset('image/boutique1.jpg')}}  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">life is best when you're camping </h5>
    <p class="card-text">Go where you deel most alive </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> pack Camp  </li>
    <li class="list-group-item">30$ </li>
  </ul>
  <div class="card-body">
    <a href="/commande/new" class="card-link">buy </a> 
  </div>
</div> 
</td> 
<td > 
 <div class="card" style="width: 18rem;">
  <img src={{asset('image/download.jpg')}}  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">life is best when you're camping </h5>
    <p class="card-text">Go where you deel most alive </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> pack Camp  </li>
    <li class="list-group-item">30$ </li>
  </ul>
   <div class="card-body">
    <a href="/commande/new" class="card-link">buy </a> 
  </div>
</div> 
</td> 
<td > 
 <div class="card" style="width: 18rem;">
  <img src={{asset('image/2.jpg')}}  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">life is best when you're camping </h5>
    <p class="card-text">Go where you deel most alive </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> pack Camp  </li>
    <li class="list-group-item">70$ </li>
  </ul>
   <div class="card-body">
    <a href="/commande/new" class="card-link">buy </a> 
  </div>
</div> 
</td> 
<td > 
<div class="card" style="width: 18rem;">
  <img src={{asset('image/1.jpg')}}  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">life is best when you're camping </h5>
    <p class="card-text">Go where you deel most alive </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> pack Camp  </li>
    <li class="list-group-item">120$ </li>
  </ul>
   <div class="card-body">
    <a href="/commande/new" class="card-link">buy </a> 
  </div>
</div> 
</td> 
</table> <br> <br> <br> 
{% endblock %}