{% extends 'base.html.twig' %}

{% block title %}Inscription index{% endblock %}

{% block body %}
    <h1>Inscription index</h1>
    <style>
    .table {
      background-color:D18113;
    }
    </style>

    <table class="table" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date_naissance</th>
                <th>Adress</th>
                <th>Code_postal</th>
                <th>Telephone</th>
                <th>Mail</th>
                <th>Date_depart</th>
                <th>Date_arrive</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscription in inscriptions %}
            <tr>
                <td>{{ inscription.id }}</td>
                <td>{{ inscription.nom }}</td>
                <td>{{ inscription.prenom }}</td>
                <td>{{ inscription.dateNaissance ? inscription.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ inscription.adress }}</td>
                <td>{{ inscription.codePostal }}</td>
                <td>{{ inscription.telephone }}</td>
                <td>{{ inscription.mail }}</td>
                <td>{{ inscription.dateDepart ? inscription.dateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ inscription.dateArrive ? inscription.dateArrive|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_inscription_show', {'id': inscription.id}) }}">show</a>
                    <a href="{{ path('app_inscription_edit', {'id': inscription.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_inscription_new') }}">Create new</a>
{% endblock %}
